
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin     : 0;
        /* overflow-x : hidden; */

}

.content {
    max-width       : 60rem;
    width           : 90%;
    margin-left     : auto;
    margin-right    : auto;
    display: block;
    /*background-color: brown;*/
}

.container {
    display           : grid;
    grid-template-rows: auto 1fr auto;
    /*background-color  : gold;*/
}

.img-header {
    width: 100%;
}

.img-teaser {
    width    : 100%;
    clip-path: inset(10px);
}

h1 {
    color: darkcyan;
}

.post-info {
    color         : lightslategrey;
    font-weight   : 800;
    text-transform: uppercase;
}

.caption {
    color: lightgray;
}

.lead {
    font-weight: 800;
}

p {
    color: midnightblue;
}


.horizontal-flex-wrap {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;
    /*background-color: cornflowerblue;*/
}

.box {
    flex            : 1 1 150px;
    /* stretching */
    /*background-color: gainsboro;*/
    max-width       : 100%;
}

.box-teaser {
    flex            : 0 1 500px;
    /* no stretching */
    margin          : 5px;
    /*background-color: lightcyan;*/

}