@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Readex+Pro:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Readex Pro', sans-serif;
    margin     : 0;
    overflow-x : hidden;
    hyphens    : auto;
}



.container {
    display             : grid;
    grid-template-rows  : auto 1fr auto;
    /*background-color  : gold;*/
}

.content {
    max-width         : 80rem;
    width             : 90%;
    margin-left       : auto;
    margin-right      : auto;
    display           : block;
    font-size         : 0.9rem;
    line-height       : 1.5em;
    padding           : 5px;
    /*background-color: brown;*/
}

@media (min-width: 720px) {

    /** Größerer Viewport: Tablet **/
    .content {
        width    : 80%;
        font-size: 1rem;
        padding  : 10px;
    }
}

@media (min-width: 900px) {

    /** Großer Viewport: Browserfenster **/
    .content {
        width    : 60%;
        font-size: 1.1rem;
        padding  : 15px;
    }
}

.img-header {
    width       : 90%;
    margin-left : auto;
    margin-right: auto;
    display     : block;
    padding-top : 20px;
}


@media (min-width: 720px) {

    /** Größerer Viewport: Tablet **/
    .img-header {
        width: 80%;
    }
}

@media (min-width: 900px) {

    /** Großer Viewport: Browserfenster **/
    .img-header {
        width: 60%;
    }
}

.img-main {
    width       : 100%;
    margin-left : auto;
    margin-right: auto;
    display     : block;
}

.img-teaser {
    width  : 100%;
    opacity: 1;
}


.img-teaser:hover {
    opacity: 0.5;

}

p {
    color      : #010334;
    font-size  : 19px;
    font-weight: 300;
}


h1 {
    color      : #010334;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size  : 40px;
    line-height: 1em;
}

h2 {
    color: #010334;
}

h3 {
    color: #010334;
}

h4 {
    color: #010334;
    font-size  : 22px;
    font-weight: 300;
}

h6 {
    color         : #010334;
    font-weight   : 800;
    text-transform: uppercase;
    letter-spacing: normal;
}


.caption {
    color: lightgray;
}

.lead {
    font-weight: 800;
}

table {
    border-collapse: collapse;
    width          : 100%;
}

th,
td {
    padding: 0.25rem;
    border : 1px solid #ccc;
}

tbody tr:hover {
    background: rgb(151, 176, 223);

}

.table-txt-right {
    text-align: right;
}

.horizontal-flex-wrap {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    gap            : 1.5rem;

    /*background-color: cornflowerblue;*/
}

.box {
    flex              : 1 1 150px;
    /* stretching */
    /*background-color: gainsboro;*/
    max-width         : 100%;
}

.box-teaser {
    flex                 : 1 1 345px;
    /* stretching */
    /* margin            : 10px; */
    /*background-color   : lightcyan;*/
    border-style         : solid;
    border-width         : 2px;
}

.box-teaser:hover {
    cursor: pointer;
}

.box-teaser-text {
    color  : black;
    padding: 2rem;
}

.box-teaser-text:hover {
    color: blue;
}


.footer {
    color           : ghostwhite;
    background-color: dimgrey;
    text-align      : center;
}

a:link {
    color           : green;
    background-color: transparent;
    text-decoration : none;
}

a:visited {
    color           : pink;
    background-color: transparent;
    text-decoration : none;
}

a:hover {
    color           : red;
    background-color: transparent;
    text-decoration : underline;
}

a:active {
    color           : yellow;
    background-color: transparent;
    text-decoration : underline;
}